.home{
    display: flex;
    /* flex-direction: row; */
    flex-wrap: wrap;
    background-color: rgb(176, 224, 226);
    justify-content: space-between;
    justify-content: space-around;
}
.card{
    width: 22%;
    height: 400px;
    border-radius: 12px;
    border-style: solid;
    background-color: white;
    margin-top: 20px;
}
.home-side-container{
    display: flex;
    flex-direction: column;
    background-color: rgb(174, 117, 183);
    width: 300px;
}
.side-container-img{
    width: 220px;
    height: 220px;
    margin-left: 40px;
}
.side-container-box{
    height: 60px;
    border: 1px solid;
}