.sidebar{
  display: flex;
  flex-direction: column;
  /* background-color: rgb(180, 200, 209); */
  /* border: 1px solid; */
  width: 24%;
  margin-bottom: 10;
}

.mainsection{
  width: 55%;
  /* margin-left: 50px; */
  margin-bottom: 50px;
  /* background-color: aquamarine; */
}

.blogsection{
  width: 25%;
  /* background-color: rgb(180, 200, 209); */

}