.nav-component {
    height: 100px;
    background-color: rgb(174, 117, 183);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0%;
}
.link-component{
    margin: 35px;
}